.new-font-color{
    color:brown;
}

.bigger{
    font-size: xx-large;
}
.small{
    font-size: smaller;
    color:pink;
}
.square{
    width: 50px;
    height: 50px;
    background: black;
}
